<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include index-sidebar.html %}


    <div class="content container">
      <div class="message" align="center">
      <b>SHML</b> is a shell framework for faster and easier script development.
      </div>
      <div align="center">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://maxcdn.github.io/shml/" data-via="MaxCDNDeveloper" data-size="large" data-related="jdorfman">Tweet</a>&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/MaxCDN" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @MaxCDN</a>&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/MaxCDNDeveloper" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @MaxCDNDeveloper</a>&nbsp;&nbsp;&nbsp;
        <iframe src="https://ghbtns.com/github-btn.html?user=maxcdn&repo=shml&type=watch&count=true&size=large" frameborder="0" scrolling="0" width="135px" height="30px"></iframe>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <hr>
      {{ content }}
    </div>

  </body>
</html>
